button{
	margin: 10px;
	width: 80px;
	border-radius: 9px;
}
.form{
	width: 400px;
	height: 150px;
	border: 2px double orange;
	text-align: center;
	border-radius: 10px;
	background-color: yellow;
}
.name{
	display: block;
	margin: 10px;
}
label{
	width: 150px;
	display: inline-block;
	font-weight: bold;
}	